
<div class="empty-header">
      
    <div class="card hinweise">
        <a href="#hinweise">
            <div class="card-image">
                <figure class="image is-4by3" style="padding:11vh;">
                    <img src="../../img/hinweise.jpg" class="bild" style="height: auto; width: 100%;">
                </figure>
            </div>

            <div class="content">
                <span class="text-header">Hinweise zur Verwendung des Krafraums</span>
                <div class="pfeil">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z" ></path></svg>
                </div>
            </div>
        </a>
    </div>
    

    <div class="card hinweise">
        <a href="#vor-training">
        <div class="card-image">
        <figure class="image is-4by3" style="padding:12vh;">
            <img src="../../img/training.jpg" class="bild" style="height: auto; width: 100%;">
        </figure>
        </div>

        <div class="content">
          <span class="text-header">Vor dem Training</span>
          <div class="pfeil">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z" ></path></svg>
        </div>
        </div>
        </a>
    </div>


    <div class="card hinweise">
        <a href="#scan-history">
        <div class="card-image">
        <figure class="image is-4by3" style="padding:14vh;">
            <img src="../../img/geraet.jpg" class="bild" style="height: auto; width: 100%;">
        </figure>
        </div>

        <div class="content">
          <span class="text-header">Hilfe & Kontakt</span>
          <div class="pfeil">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z" ></path></svg>
        </div>
        </div>
    </a>
    </div>
</div>

<div id="hinweise" class="overlay">
	<div class="box signup-popup" style="height: 53vh;">

        <div class="signup-header">
            <h1 class="text-header">Hinweise zur Verwendung des Kraftraums</h1>
            <a class="close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
        </div>

        <table class="hinweise-txt">
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Sportbekleidung, Hallenschuhe, Tüchlein</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Keine Taschen und Rücksäcke im Fitnessraum!</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Ausdauergeräte nach Gebrauch reinigen</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Gewichte nach Gebrauch verräumen</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Den Geräten Sorge tragen!</td>
            </tr>
        </table>

        <div style="height: 3vh; Width: auto;"></div>
        
        <img src="../../img/logo.svg" class="popup-logo">

	</div>
</div>

<div id="vor-training" class="overlay">
	<div class="box signup-popup" style="height: 67vh;">

        <div class="signup-header">
            <h1 class="text-header">Vor dem Training</h1>
            <a class="close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
        </div>

        <table class="hinweise-txt">
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Mindestens 10 Minuten aufwärmen + 3 Minuten dynamisch dehnen</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Schwerpunkt auf Rumpfkräftigung/Stabilisation legen</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Geräte richtig einstellen und auf korrekte Bewegungsausführung achten</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Reihenfolge der Kraftübungen: Agonist- Antagonist</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Trainingsform: Cirquittraining</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Mehrsatztraining für Erfahrene</td>
            </tr>
            <tr class="table-text">
                <td class="tick">✔</td>
                <td class="bullet"> Mindesten einen Tag Pause nach Training</td>
            </tr>

        </table>

        <div style="height: 3vh; Width: auto;"></div>
        
        <img src="../../img/logo.svg" class="popup-logo">

	</div>
</div>

<div id="scan-history" class="overlay">
	<div class="box signup-popup" style="height: 55vh;">


        <div class="signup-header">
            <h1 class="text-header">Hilfe & Kontakt</h1>
            <a class="close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
        </div>

        <img src="../../img/Kobelt.png" class="bildkobelt">

               

        <table class="hinweise-txt">
            <tr class="table-text">
                <td class="tick">&bull;</td>
                <td class="bullet"> Bei Fragen oder Unklarheiten wenden Sie sich an unseren Fitnessexperten Markus Kobelt</td>
            </tr>
            <tr class="table-text">
                <td class="tick">&bull;</td>
                <td class="bullet"> markus.kobelt@ksb-sg.ch</td>
            </tr>
           

        </table>

        <!--SCAN-VERLAUF-->

        <div style="height: 3vh; Width: auto;"></div>
        
        <img src="../../img/logo.svg" class="popup-logo">

	</div>
</div>