@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #373736;
  padding: 0;
  margin: 0;
}

.obj--hidden {
  display: none;
}

.col {
  padding: 0 !important;
  text-align: center;
}

.row {
  margin-bottom: 0px;
}

.app__body {
  height: 100vh;
  width: 100vw;
  background-color: #fcfcfc;
}

.nav__container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  background-color: #fcfcfc;
  box-shadow: 0 -6px 8px -3px rgba(0, 0, 0, 0.12);
}
.nav__icon {
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.nav__text {
  font-size: 15px;
}
.nav__text--selected {
  font-weight: bold;
}

.home__container {
  height: 100vh;
  width: 100vw;
  background-color: #bfdc9e;
}
.home__background {
  background-color: #ffffff;
  top: 45%;
  position: absolute;
  width: 100vw;
  border-radius: 40px;
  box-shadow: 0 -6px 8px -3px rgba(0, 0, 0, 0.12);
  height: 100vh;
}
.home__content {
  width: 100vw;
  top: 20%;
  position: absolute;
}
.home__welcomemsg {
  position: absolute;
  top: 12%;
  font-size: 25px;
  margin-left: 7vw;
}
.home__button--login {
  margin-left: 7vw;
  top: 9%;
  position: absolute;
}
.home__button--qr {
  margin-right: 7vw;
  top: 9%;
  right: 0;
  position: absolute;
  height: 7vw;
  width: auto;
}

::placeholder {
  color: #373736;
  opacity: 1;
}

.signup__container {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  padding: 5vw;
  position: fixed;
}
.signup__logo {
  width: 65vw;
  margin: auto;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  position: absolute;
}
.signup__close {
  position: absolute;
  top: 10vw;
  right: 6vw;
  color: #373736;
}
.signup__error {
  color: #e01272;
  font-size: 15px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 40%;
  width: 100%;
  text-align: center;
}
.signup__form {
  color: #e01272;
  font-size: 15px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  top: 45%;
  width: 75%;
}
.signup__field {
  background-color: #bfdc9ea9;
  color: #373736;
  border-radius: 10px;
  border: 0 !important;
  box-shadow: none !important;
  height: 5.5vh;
  padding: 5vw;
}
.signup__field--body {
  max-width: 36.9vw;
}
.signup__button {
  font-weight: bold;
  background-color: #a5c185;
  color: #ffffff;
  position: absolute;
  height: 5vh;
  min-width: 35vw;
  margin-top: 1vh;
  left: 50%;
  transform: translate(-50%);
}
.signup__tabs {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: auto;
}
.signup__tabs > a {
  color: #373736;
  text-decoration: underline;
}

.popup {
  margin: auto;
  padding: 20px;
  background: #ffff;
  border-radius: 10px;
  width: 90%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000000;
}

.popup__logo {
  width: 40vw;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.popup__header {
  margin: 0px 0px 20px;
}

.exercises__container {
  width: 100vw;
  height: 100vh;
  padding: 20vw 5vw 5vw;
}
.exercises__heading {
  font-weight: bold;
  font-size: 30px;
}
.exercises__sort-buttons {
  position: absolute;
  right: 5vw;
  top: 21vw;
}
.exercises__sort-buttons--left {
  margin-right: 2vw;
}
.exercises__musclegroup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}
.exercises__pagination {
  position: absolute;
  left: 50% !important;
  transform: translate(-8%);
}

.swiper-pagination-bullet-active {
  background: #90b367;
}

#exercises .box {
  border-radius: 12px;
  margin: 17px auto auto;
  width: 90vw;
}

.exercise-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.exercise-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

#exercises p {
  float: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2vh;
}

#exercises span {
  float: left;
  font-weight: bold;
  font-size: 18px;
}

#exercise-popup-overlay svg {
  /* margin-left: 41vw; */
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.training__container {
  width: 100vw;
  height: 100vh;
  padding: 20vw 5vw 5vw;
}
.training__heading {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 1vh;
}
.training__logo {
  width: 45vw;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 3vh auto 20vh;
}
.training__new {
  width: 100%;
  background: none;
  border-color: #bfdc9e !important;
  position: relative;
  border-width: 3px;
  height: 15vw;
}
.training__default {
  border-radius: 20px;
  height: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.training__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.training__image {
  border-radius: 2000px;
  height: 13vw;
  position: absolute;
  left: 4vw;
}
.training__name {
  font-weight: bold;
  font-size: large;
  line-height: 1.6;
  position: absolute;
  left: 20vw;
}
.training__chevron {
  position: absolute;
  right: 10vw;
}

.new__container {
  border-radius: 10px;
  position: relative;
  top: 50vh;
  margin-top: 0 !important;
  width: 80% !important;
  height: 60vh;
  max-height: 60vh;
}
.new__title {
  width: 65vw;
}
.new__pagination {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%);
  bottom: 20% !important;
}
.new__save {
  background-color: #90b367;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -2%;
  right: 0;
  height: 4vh;
}

.grid {
  overflow: auto;
  max-height: 49vh;
  top: 6vh;
  position: relative;
}
.grid__item {
  max-width: 30vw;
  min-width: 30vw;
  margin: 3vw !important;
}

.exerciselist {
  overflow: auto;
  max-height: 40%;
}
.exerciselist > ul > li {
  display: list-item;
  list-style-type: "+";
}

.swiper__next {
  font-weight: bold;
  color: #90b367 !important;
  position: absolute;
  height: 5vh;
  left: 50%;
  transform: translate(-50%);
  bottom: 2%;
}

.swiper__prev {
  font-weight: bold;
  color: #373736 !important;
  position: absolute;
  height: 5vh;
  left: 30%;
  transform: translate(-50%);
  bottom: 2%;
}

.overflow--hidden {
  overflow-x: hidden;
}

.exercise__title {
  max-width: 40vw;
}

.exercise__input {
  width: 25px;
  padding: 1px 2px;
  text-align: center;
}

.weekDays-selector {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 100px;
  background: #fcfcfc;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #90b367;
  color: #ffffff;
}

.checkbox__reminder > input {
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  font-size: 14px;
}

.default-training__container {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  padding: 22vw 5vw 5vw;
  position: fixed;
}
.default-training__back {
  position: absolute;
  left: 6vw;
  color: #373736;
}
.default-training__title {
  font-weight: bold;
  font-size: 28px;
  position: relative;
  left: 10vw;
  margin-bottom: 2vh;
}
.default-training__image {
  border-radius: 10px;
  filter: brightness(50%);
}
.default-training__text {
  position: absolute;
  top: 20%;
  left: 20%;
}
.default-training__text > span {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.session__container {
  position: relative;
}
.session__title {
  font-size: 25px;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  text-align: center;
}
.session__new {
  position: fixed;
}

.logo {
  width: 45vw;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  margin: 3vh auto 20vh;
}

.hinweise {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.bild {
  padding: 15px;
  border-radius: 30px !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.noscroll {
  overflow: hidden;
}

.exercise-popup-close {
  margin-top: 4%;
  margin-right: 4%;
}

.btn-cancel {
  background-color: #e01272;
  color: #ffffff;
  height: 6.5vh;
  width: 16vh;
  right: -4vw;
}

.tick {
  color: #90b367;
  border: 0px;
  text-align: center;
  padding: 5px;
}

.bullet {
  border: none;
  text-align: left;
  padding: 5px;
}

.hinweise-txt {
  border: 0px;
  margin: auto;
}

.table-text {
  border: none;
}

.number-input {
  /* width: 30% !important; */
  display: inline-block;
}

.text-header {
  font-weight: bold;
  font-size: large;
  line-height: 1.6;
  position: absolute;
}

.exercise-popup {
  position: relative;
  top: 50vh;
  margin-top: 0 !important;
  width: 80% !important;
  height: 49vh;
  max-height: 49vh;
  overflow-y: hidden;
}

.play-icon {
  width: 80% !important;
  height: 27vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #cfcfcfd1;
}

.bildkobelt {
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  display: block;
  width: 50%;
  margin: auto auto 19px;
}

tr {
  border: none !important;
}

/* .qr-background{
    background-image: url('../img/qr-dummy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
/* .qr-card {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0 100%, 24% 100%, 23% 36%, 77% 36%, 77% 61%, 25% 61%, -32% 100%, 100% 100%, 100% 0);
    margin: auto;
    padding: 20px;
    background: #363635a4;
}

.qr-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 29vh;
    font-weight: bold;
    text-align: center;
    color: $almostwhite;
}

.qr-svg {
    top: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
} */
.table-container-cstm {
  height: 80%;
  overflow: scroll;
  width: 100%;
}

#exercises-list .col {
  text-align: left;
}

/*# sourceMappingURL=global.css.map */
