<div id="exercises-list"></div>

<div id="exercise-popup-overlay" class="overlay">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box signup-popup exercise-popup">
                    <div class="signup-header">
                        <h1 id="exercise-title" class="text-header">Leg Extension</h1>
                        <a class="close exercise-popup-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
                    </div>
                    <img id="exercise-img" src="img/exercise-images/task (5)1.jpeg">

                    <div style="height: 27vh; width: auto; display: inline-block;"></div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

            <div class="swiper-slide">
                <div class="box signup-popup exercise-popup">
                    <div class="signup-header">
                        <h1 class="text-header">Beschreibung</h1>
                        <a class="close exercise-popup-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
                    </div>
                    <div class="table-container-cstm">
                        <table id="description-table">
                            <tr>
                                <th>Vorbereitung</th>
                            </tr>
                            <tr>
                                <td id="exercise-preparation" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                            </tr>
                            <tr>
                                <th>Bewegung</th>
                            </tr>
                            <tr>
                                <td id="exercise-movement">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                            </tr>
                        </table>
                    </div>

                    <div style="height: 27vh; width: auto; display: inline-block;"></div>
                    <div class="swiper-pagination"></div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="box signup-popup exercise-popup">
                    <div class="signup-header">
                        <h1 class="text-header">Videotutorial anschauen</h1>
                        <a class="close exercise-popup-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="30" height="30" style="top: auto;"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg></a>
                    </div>

                    <a id="exercise-video" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        <div class="box play-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100"><path d="M9.5 15.584V8.416a.5.5 0 01.77-.42l5.576 3.583a.5.5 0 010 .842l-5.576 3.584a.5.5 0 01-.77-.42z"></path><path fill-rule="evenodd" d="M12 2.5a9.5 9.5 0 100 19 9.5 9.5 0 000-19zM1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12z"></path></svg>
                        </div>
                    </a>

                    <div style="height: 27vh; width: auto; display: inline-block;"></div>
                    <div class="swiper-pagination"></div>
                    
                </div>

            </div>

        </div>
        
    </div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        // loop: true,
        effect: 'flip',
        flipEffect: {
            slideShadows: false,
        },
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>