<div id='navbar' class='nav__container'>
    <div class='row'>
        <div class='col s3' onclick='goToHome()'>
            <i id='home-icon' class='fa-solid fa-house fa-2xl nav__icon'></i>
            <p id='home-txt' class='nav__text--selected'>Home</p>
        </div>
        
        <div class='col s3' onclick='goToExercises()'>
            <svg id='exercises-icon' class='nav__icon icon-black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'
                 fill='currentColor'>
                <path d='M9 2a1 1 0 000 2h2a1 1 0 100-2H9z'/>
                <path fill-rule='evenodd'
                      d='M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z'
                      clip-rule='evenodd'/>
            </svg>
            <p id='exercises-txt'>Übungen</p>
        </div>
        
        <div class='col s3' onclick='goToTraining()'>
            <svg id='training-icon' class='nav__icon icon-black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'
                 fill='currentColor'>
                <path fill-rule='evenodd'
                      d='M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z'
                      clip-rule='evenodd'/>
            </svg>
            <p id='training-txt'>Training</p>
        </div>
        
        <div class='col s3' onclick='goToSettings()'>
            <svg id='settings-icon' class='nav__icon icon-black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'
                 fill='currentColor'>
                <path fill-rule='evenodd'
                      d='M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z'
                      clip-rule='evenodd'/>
            </svg>
            
            <p id='settings-txt'>Optionen</p>
        </div>
    </div>
</div>

