<div class='container'>
    <h1 class='training__heading'>Trainingspläne</h1>

    <div id="trainings-container">
        <!-- gets filled dynamically -->
    </div>
        
    <div id='default-training' class='overlay'>
        <div class='default-training__container'>
            <a class='default-training__back' href='#'>
                <i class='fa-solid fa-xl fa-chevron-left'></i>
            </a>
            
            <h1 id="workout_title" class='default-training__title'>KSB Basic</h1>
            
            <img src='../img/geraet.jpg' alt='bild' class='default-training__image'>
            
            <div class='default-training__text'>
                <span>Sessions total:</span>
                <br>
                <span id="workout_sessions" >1 Session</span>
                
                <br><br>
                
                <span>Nächste Session:</span>
                <br>
                <span id="workout_next_session">Mittwoch, 20.07.</span>
            </div>
            
            <div class='button is-rounded training__new openSessionCreation'>
                <span class='icon is-small'>
                    <i class='fa-solid fa-xl fa-plus' style='color: #bfdc9e;'></i>
                </span>
            </div>
            
            <div class='session__container card'>
                <h2 class='session__date'>Mittwoch, 11.07.2022</h2>
                <ul>
                    <li>Chest press: 10</li>
                    <li>Leg: 10</li>
                </ul>
            </div>
            
            <button class='button is-text default-training__delete'>Training löschen</button>
        </div>
    </div>

    <a id="create-workout-btn" class='button is-rounded training__new openTrainingCreation' href='#new-training'>
        <span class='icon is-small'>
            <i class='fa-solid fa-xl fa-plus' style='color: #bfdc9e;'></i>
        </span>
    </a>
    
    <div id='new-training' class='overlay overflow--hidden'>
        <div class='swiper-training'>
            <div class='swiper-wrapper'>
                <div class='swiper-slide'>
                    <div class='box popup new__container'>
                        <div class='popup__header'>
                            <a class='close' href='#'>
                                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='30' height='30'
                                     style='top: auto;'>
                                    <path fill-rule='evenodd'
                                          d='M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z'></path>
                                </svg>
                            </a>
                            
                            <h1 class='text-header'>Übungen auswählen:</h1>
                            
                            <div id="exercise-grid" class='grid'></div>
                        </div>
                        
                        <button class='button is-text swiper__next'>Bestätigen</button>
                    </div>
                </div>
                
                <div class='swiper-slide'>
                    <div class='box popup new__container'>
                        <div class='popup__header'>
                            <a class='close' href='#'>
                                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='30' height='30'
                                     style='top: auto;'>
                                    <path fill-rule='evenodd'
                                          d='M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z'></path>
                                </svg>
                            </a>
                            
                            <input id='training__title' class='input new__title' type='text'
                                   placeholder='Neuer Trainingsplan'>
                        </div>
                        
                        <!-- <p style='font-weight: bold;'>Übungen:</p> -->
                        <div class='exerciselist'>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Übung</th>
                                        <th>Sets</th>
                                        <th>Reps</th>
                                    </tr>
                                </thead>
                                <tbody id="selectedExercisesList">
                                    <!-- gets filled dynamically -->
                                </tbody>
                            </table>
                        </div>
                        
                        <div class='weekDays-selector'>
                            <!-- let weekdays = ['Mo', 'Fr'] // ['Mo','Tu','Fr'] -->
                            <input type='checkbox' id='weekday-mon' name="Mo" class='weekday cb'/>
                            <label for='weekday-mon'>Mo</label>
                            <input type='checkbox' id='weekday-tue' name="Tu" class='weekday cb'/>
                            <label for='weekday-tue'>Di</label>
                            <input type='checkbox' id='weekday-wed' name="We" class='weekday cb'/>
                            <label for='weekday-wed'>Mi</label>
                            <input type='checkbox' id='weekday-thu' name="Th" class='weekday cb'/>
                            <label for='weekday-thu'>Do</label>
                            <input type='checkbox' id='weekday-fri' name="Fr" class='weekday cb'/>
                            <label for='weekday-fri'>Fr</label>
                            <input type='checkbox' id='weekday-sat' name="Sa" class='weekday cb'/>
                            <label for='weekday-sat'>Sa</label>
                            <input type='checkbox' id='weekday-sun' name="Su" class='weekday cb'/>
                            <label for='weekday-sun'>So</label>
                        </div>
                        
                        <label class='checkbox checkbox__reminder'>
                            <input id="cb-notifications" type='checkbox' class="cb">
                            Erinnerung erhalten
                        </label>

                        <p id="validation-error" class="validation__error"></p>

                        <button class='button is-text swiper__prev'>Zurück</button>
                        <button class='button is-rounded new__save'>Speichern</button>
                    </div>
                </div>
            
            </div>
        
        </div>
    </div>
    
    <img src='../img/logo_full.svg' alt='logo' class='training__logo'>

    <p id="training_info_text" class="training_info_text obj--hidden">Um auf Ihre Trainingspläne zuzugreifen müssen Sie angemeldet sein.</p>
</div>

<script>
    $(document).ready(function () {
        let selectedExsList = [];

        $(".openSessionCreation").click(function () {
            // reset content 
            // add session data 
        });

        $(".openTrainingCreation").click(function () {
            // reset swiper & content
            swiper.setProgress(0, 0)
            $('#training__title').val('');

            for (const checkbox of document.getElementsByClassName('cb')) {
                checkbox.checked = false;
            }
            
            displayExerciseCheckboxes();
        });

        $(".swiper__prev").click(function () {
            document.getElementById('validation-error').innerHTML = ''; // clear errormsg
        });

        $(".swiper__next").click(function () {
            // get checked exercises
            selectedExsList = [];
            for (const checkbox of document.getElementsByClassName('imgChked')) {
                let exName = checkbox.firstChild.name.split('||');
                selectedExsList.push({
                        title: exName[0],
                        id: exName[1]
                })
            }

            let exercisesListHTMLString = ''
            if (selectedExsList.length < 1) {
                exercisesListHTMLString += '<tr><td>Keine Übung ausgewählt</td></tr>'
            } else {
                selectedExsList.forEach(exercise => {
                    exercisesListHTMLString += '<tr class="exercise__row" data-id="'+ exercise.id +'"> <td class="exercise__title">' + exercise.title + '</td> <td> <input type="number" class="exercise__input sets"> </td> <td> <input type="number" class="exercise__input reps"> </td> </tr>'
                });
            }

            document.getElementById('selectedExercisesList').innerHTML = exercisesListHTMLString;
        });

        $(".new__save").click(function () {
            let errormsg = document.getElementById('validation-error');
            errormsg.innerHTML = '';
            // validation
            if (selectedExsList.length < 1) {
                errormsg.innerHTML = 'Keine Übungen ausgewählt'
            } else if ($.trim(document.getElementById('training__title').value).length < 1){
                errormsg.innerHTML = 'Kein Name für den Trainingsplan angegeben'
            } else if ($.trim(document.getElementById('training__title').value).length >= 25){
                errormsg.innerHTML = 'Trainingsplan-Name zu lang'
            } else {
                let countEmpty = 0;
                for (const el of document.getElementsByClassName('exercise__input')) {
                    if ($.trim(el.value).length < 1) { countEmpty++; break; }
                };
                if (countEmpty > 0) {
                    errormsg.innerHTML = 'Nicht alle Sets & Reps angegeben'
                } else {
                    // validation successful 
                    let exercisePlan = []
                    for (const exercise of document.getElementsByClassName('exercise__row')) {
                        exercisePlan.push({
                                exerciseID: exercise.dataset.id,
                                sets: exercise.getElementsByClassName('sets')[0].value,
                                reps: exercise.getElementsByClassName('reps')[0].value
                        })
                    }

                    let weekdays = [];
                    for (const weekdayCB of document.getElementsByClassName('weekday')) {
                        if (weekdayCB.checked) weekdays.push(weekdayCB.name);
                    }

                    let workoutData = {
                        workoutTitle: $.trim(document.getElementById('training__title').value),
                        exercisePlan: exercisePlan,
                        weekdays: weekdays,
                        notifications: (document.getElementById('cb-notifications').checked ? 1 : 0)
                    }

                    insertWorkout(workoutData)

                    displayTrainings(); // reload workouts
                    window.location.href = "#";
                }
            }
        });

        // save workout plan -> already new 
        function insertWorkout(workoutData) { // save-workout-btn-id  *is a placeholder* || $(document).on('click', '#save-workout-btn-id', 
            let userID = document.getElementById('userID').innerHTML;
            
            $.ajax({
                type: "POST",  // Request type
                url: properties.requestUrl,
                data: {
                    request: 'insertWorkout',
                    title: workoutData.workoutTitle,
                    userID: userID,
                    notifications: workoutData.notifications,
                    weekdays: workoutData.weekdays,
                    exercises: workoutData.exercisePlan
                },
                cache: false,
                success: function (data) {
                    // console.log(data)
                    // ...
                }
            })
        };

        let swiper = new Swiper('.swiper-training', {
            direction: 'horizontal',
            allowTouchMove: false,

            navigation: {
                prevEl: ".swiper__prev",
                nextEl: ".swiper__next",
            },
        });

        if (swiper.length > 1) swiper = swiper[0];

    });

</script>
