   
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modal</title>
  <link href="styles.css" rel="stylesheet">
  <script defer src="script.js"></script>
</head>
<body>
  <button data-modal-target="#modal">Open Modal</button>
  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">Hinweise zur Verwendung 
        des Fitnessraumes</div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body">
        <p>- Sportbekleidung, Hallenschuhe, Tüchlein</p>
        <p>- Keine Taschen und Rücksäcke im Fitnessraum!</p>
        <p>- Ausdauergeräte nach Gebrauch reinigen</p>
        <p>- Gewichte nach Gebrauch verräumen</p>
        <p>- Den Geräten Sorge tragen!</p>
       <br>
       <p>Danke</p>
       <img src="../../img/"
    </div>
  </div>
  <div id="overlay"></div>
</body>
</html>